* {
  border: none;
  margin: 0;
  padding: 0;
  @include box-sizing();
}

body {
  background: $bg-color;
  font-family: $mainFontRegular;
}

a {
  text-decoration: none;
  color: $black-color;
}

button {
  outline: none;
}

li {
  list-style: none;
}
