@import '../../../../sass/variables';
@import '../../../../sass/fonts';
@import '../../../../sass/reset';


button {
  outline: none;
  background: none;
}

input {
  border: 1px solid $border-color;
  border-radius: 3px;
  margin-top: 10px;
  padding: 0 3px;
}

i, a {
  &:hover, &:active {
  color: $primary-color;
  cursor: pointer;
  }
}

.main-container {
  padding: 0 $content-padding;
  background-color: $white-color;
}

.main-nav {
  display: flex;
}

.big-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 42px;
  nav {
    padding-top: 10px;
    a:nth-child(3) {
      white-space: nowrap;
    }
  }
}

.header-nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  a {
    padding-right: 28px;
  }
}

.logo {
  margin-right: 80px;
}

.header-right-bar {
  padding-top: 13px;
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  align-items: baseline;

  i {
    font-size: 20px;
    padding-left: 33px;
  }
}

.burger {
  display: none;
}

.cart {
  position: relative;
}

.cart-items {
  margin: 0 auto;
  position: absolute;
  bottom: 26px;
  left: 35px;
  border-radius: 50%;
  background: $black-color;
  width: 18px;
  height: 18px;
  color: $white-color;
  font-size: 12px;
  text-align: center;
}

.active {
  width: 100%;
}

.unactive {
  width: 0;
  overflow: hidden;
  display: none;
  padding: 0;
  border: 0;
}

@media only screen and (max-width: 1024px) {
  .big-header {
    flex-wrap: wrap;
    text-align: center;
  }

  .logo {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 767px) {
  nav.hideMenu {
    display: none;
  }

 .main-nav {
  position: absolute;
  top: 194px;
  left: 0;
 }

  nav.revealMenu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    margin: 0 auto;
    background-color: $white-color;
    opacity: 0.9;
    a {
      padding-right: 0;
      border-bottom: 1px solid $border-color;
    }
  }

  .big-header {
    justify-content: space-between;
    align-items: center;
  }

  .burger {
      display: flex;
  }

  .header-nav-bar {
    display: none;
  }

  .logo {
    width: 40%;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 424px) {
  nav.revealMenu {
    left: 0;
    top: 120px;
    width: 100%;
  }

  .big-header {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 10px;
  }

  .main-container {
    position: relative;
  }

  .main-nav {
    flex-direction: column;
    position: absolute;
    top: 160px;
    width: 100%;
  }

  .header-right-bar {
    padding-bottom: 10px;
    button {
      i {
        padding-left: 0;
      }
    }
  }

  .logo {
    padding-bottom: 10px;
    width: 100%;
  }
}