@media only screen and (max-width: 767px) {
  // contact header
  .small-header {
    @include flex-wrap(wrap);
  }
  .header-left-bar {
    @include flex-direction(column);
  }
  // nav header
  nav.hidden-menu {
    display: none;
  }
 .main-nav {
  position: absolute;
  top: 194px;
  left: 0;
 }
  nav.active-menu {
    @include flexbox();
    @include flex-direction(column);
    width: 100vw;
    text-align: center;
    margin: 0 auto;
    background-color: $white-color;
    opacity: 0.9;
    a {
      padding-right: 0;
      border-bottom: 1px solid $border-color;
    }
  }
  .big-header {
    @include justify-content(space-between);
    @include align-items(center);
  }
  .burger {
    @include flexbox();
  }
  .header-nav-bar {
    display: none;
  }
  .logo {
    width: 40%;
    margin-right: 0;
    margin-bottom: 0;
  }
}
