@import '../../../../sass/variables';
@import '../../../../sass/mixins';
@import '../../../../sass/fonts';
@import '../../../../sass/reset';

hr {
  margin: 0 auto;
  border-top: 1px solid $border-color;
}

i, a {
  &:hover, &:active {
  color: $primary-color;
  cursor: pointer;
  }
}

.small-header {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  padding-top: 20px;
  padding-bottom: 16px;
}

.header-left-bar {
  @include flexbox();
  @include flex-direction(row);
}

.main-container {
  padding: 0 $content-padding;
  background-color: $white-color;
}

.mail {
  margin-right: 15px;
  color: $black-color;
  @include font-size-small;
  img {
    margin-right: 9px;
  }
}

.pnone-number {
  color: $black-color;
  @include font-size-small;
  img {
    margin-right: 9px;
  }
}

.social-media {
  a {
  color: $black-color;
  @include font-size-regular;
  margin-left: 20px;
  }
}

.logo {
  margin-right: 80px;
}

.header-right-bar {
  padding-top: 13px;
  @include flexbox();
  position: relative;
  i {
    @include font-size-large;
    padding-left: 33px;
  }
}

.cart {
  position: relative;
}

.cart-items {
  margin: 0 auto;
  position: absolute;
  bottom: 26px;
  left: 35px;
  border-radius: 50%;
  background: $black-color;
  width: 18px;
  height: 18px;
  color: $white-color;
  @include font-size-small;
  text-align: center;
  display: none;
}

@import '../../../../sass/media/tablet';
@import '../../../../sass/media/mobileL';